.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30vw;
    height: 30vw;
}

.square {
    background-color: #fff;
    border: 1px solid #333;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.arena {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 50%;
}

.chat {
    float: right;
    width: 50%;
}

.messages {
    height: 90vh;
    overflow-y: scroll;
}
